@model List<ModuloSeguridad.Models.VistaUsuariosModel.InfoUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>COD_USER</th>
                <th>NOM_USER</th>
                <th>MAIL_USER</th>
                <th>COD_ROL</th>
                <th>COD_ESTADO</th>
            </tr>
            @foreach(var valores in Model)
            {
                <tr>
                    <td>@valores.COD_USER</td>
                    <td>@valores.NOM_USER</td>
                    <td>@valores.MAIL_USER</td>
                    <td>@valores.COD_ROL</td>
                    <td>@valores.COD_ESTADO</td>
                </tr>
            }
        </table>
        
    </div>
</div>